:root {
  --white: #ffffff;
  --black: #0d0d0d;
  --lightblack: #262626;
  --primary: #5e34ff;
  --lightprimary: #734fff;
  --linkactive: #2a54e9;
  --grad: inear-gradient(124.25deg, #6E41E2 -20.46%, #E452FC 137.24%);
  --fadewhite:#FAFAFA;
  --textc: #8D96B2;
}

html {
  scroll-behavior: smooth;
}
.body {
  font-family: "Manrope", sans-serif;
  font-family: "Poppins", sans-serif;
}
* {
  padding: 0;
  margin: 0;
}
.container1 {
  max-width: 1700px;
  padding: 0 auto;
  margin: 0 auto;
}
.container2 {
  max-width: 1410px;
  padding: 0 auto;
  margin: 0 auto;
}
::selection {
  color: #ffffff;
  background-color: var(--linkactive);
}

header nav {
  margin: 3vw auto;
}

header nav .navlinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .navlinks ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
header nav .navlinks ul li {
  margin-right: 1.5rem;
}
.navlinks a {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* padding-right: 2rem; */
  font-size: 18px;
  /* font-family: "Sofia Pro"; */
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: var(--black);
}
/*<a> anims*/
.navlinks a::before {
  text-decoration: none;
  color: #0074d9;
}
.navlinks a:hover {
  color: var(--linkactive);
}
.underline {
  position: relative;
}

.underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  text-emphasis-color: var(--linkactive);
  background-color: var(--primary);
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}
/* Selects any <a> that is being activated */
.navlinks a:active {
  color: var(--linkactive);
}

.navcenter img {
  width: 4rem;
}

.hero {
  margin: 15rem 0 15rem;
  height: 40vh;
}
.hero .Maintext {
  margin-left: 0.7rem;
  z-index: -99999;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.salutation {
  font-size: 25px;
  line-height: 20px;
  color: var(--primary);
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.intro {
  font-size: 30px;
  line-height: 38px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}
.intro span {
  font-weight: 500;
}
/*Css for the I am designer text in hero section*/

.hero .designspan .middlemain h1 {
  z-index: 9999;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 182px;
  line-height: 160px;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.9s
    both;
  /* Width and color values */
  -webkit-text-stroke: 1.5px var(--lightblack);
  -webkit-text-fill-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.hero .designspan .upperone h1 {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 152px;
  line-height: 160px;
  animation: slide-in-bitupper 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.6s
    both;
  /* Width and color values */
  -webkit-text-stroke: 1px var(--lightblack);
  -webkit-text-fill-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
@keyframes slide-in-bitupper {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    transform: translateY(-300px);
    opacity: 0.2;
  }
}
.hero .designspan .uppertwo h1 {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 152px;
  line-height: 160px;
  animation: slide-in-upper 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.2s both;
  /* Width and color values */
  -webkit-text-stroke: 1px var(--lightblack);
  -webkit-text-fill-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
@keyframes slide-in-upper {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    transform: translateY(-440px);
    opacity: 0.2;
  }
}

.hero .designspan .lowerone h1 {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 152px;
  line-height: 160px;
  animation: slide-in-bitbottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.6s
    both;
  /* Width and color values */
  -webkit-text-stroke: 1px var(--lightblack);
  -webkit-text-fill-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
@keyframes slide-in-bitbottom {
  0% {
    transform: translateY(-180px);
    opacity: 0;
  }
  100% {
    transform: translateY(-18px);
    opacity: 0.2;
  }
}

.hero .designspan .lowertwo h1 {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 152px;
  line-height: 160px;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.2s both;
  /* Width and color values */
  -webkit-text-stroke: 1px var(--lightblack);
  -webkit-text-fill-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(-300px);
    opacity: 0;
  }
  100% {
    transform: translateY(125px);
    opacity: 0.2;
  }
}
.divider {
  height: 0;
  border: 1px solid #eef2f4;
  width: 90vw;
  margin-left: calc(-45vw + 50%);
}
.casetitle .sectionheading {
  font-weight: 500;
  font-family: "Manrope", sans-serif;
  font-size: 25;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.arrow {
  margin-left: 1rem;
  animation: bounce 0.8s 2.1 alternate;
  -webkit-animation: bounce 0.8s 2.1 alternate;
}
.arrow img {
  transform: translateY(5px);
}
.casestudy {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(495px, 100%), 1fr));
  gap: 20px;
}
.casetitle {
  display: flex;
  align-items: center;
  font-size: 30px;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}

.case1 {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background-color: #ff557c;
  grid-column: 1 / -1;
  display: flex;
  /* flex-direction: ; */
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.case1 img {
  width: 100%;
  height: auto;
  /* position: absolute; */
}
.csoverlay {
  position: absolute;
  /* top: 100%; */
  /* bottom: 0; */
  /* left: 0; */
  /* right: 0;*/
  display: block;
  justify-content: center;
  height: auto;
  width: auto;
  /* opacity: 0; */
  transition: 0.5s ease;
  background-color: #008cba;
}
.case1:hover .csoverlay {
  opacity: 1;
}

/* 
.case2 {
  border-radius: 0.35rem;
  background-color: #cbbff9;
  height: 100%;
  display: inline-block;
  text-align: center;
}
.case3 {
  border-radius: 0.35rem;
  background-color: #b4e8ff;
  height: 100%;
  display: inline-block;
  text-align: center;
} */

/*About page*/
.aboutme{
  display: flex;
  align-items: center;
}






/* Footer  */
.footer .divider {
  margin: 1.5rem;
}
.footer .socialinks {
  margin: 1rem 0;
  /* border-top: 1.5px dotted blue; */
}
.socialinks ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  /* font-size: 2rem; */
}

.socialinks a {
  /* font-size: 2rem; */
  color: black;
  /* text-decoration: none; */
  padding: 10px 20px;
  display: inline-block;
  /* font-family: "Manrope", sans-serif; */
  transition: none;
  -webkit-transition: margin 0.3s ease-out;
  -moz-transition: margin 0.3s ease-out;
  -o-transition: margin 0.3s ease-out;
}
/* .socialinks a:hover {
  margin-top: 2px;
  transition: none;
  -webkit-transition: margin 0.3s ease-out;
  -moz-transition: margin 0.3s ease-out;
  -o-transition: margin 0.35s ease-out;
} */
.aboutfooter{
  /* margin-top: 4rem; */
  /* position: fixed; */
  font-family: 'Poppins', sans-serif;
  left: 0;
  bottom: 0;
  background-color: #FAFAFA;
  padding: 0 74px;
}
.footerrow{
  display: flex;
  /* display: grid; */
  /* grid-template-columns: auto; */
  /* grid-template-rows: auto; */
  flex-wrap: wrap;
}
.aboutfooter ul{
  list-style: none;
}
.footercol{
  width: 25%;
  margin-top: 2rem;
  /* padding: 0 15px; */
}
.footercol .colhead{
  font-size: 18px;
  color: var(--lightblack);
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
}
.footercol ul li{
  font-size: 16px;
  text-transform: capitalize;
  display: block;
  margin-bottom: 10px;
}

.footercol ul li a{
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
}

.footercol ul li a:hover{
  color: var(--linkactive);
  padding-left: 8px;
}
.aboutfooter .copyryt{
  margin-top: 8rem ;
}
.copyryt .copyryttxt1{
  font-size: 12px;
  font-weight: 300;
  color: var(--black);
}
.copyryt .copyryttxt2{
  font-size: 12px;
  font-weight: 300;
  color: var(--textc);
}





/*Chori ka maal*/
/* .link--helike::before {
  height: 2px;
  opacity: 0;
}
.link--helike:hover::before {
  opacity: 1;
  animation: glitchLine 0.4s steps(2, start) forwards;
}
@keyframes glitchLine {
  0% {
      transform: scale3d(1, 1, 1);
  }
  10% {
      transform: translate3d(10px, 0, 0);
  }
  20% {
      transform: translate3d(0, 4px, 0);
  }
  30% {
      transform: scale3d(0.1, 1.4, 1) translate3d(0, -25px, 0);
      transform-origin: 100% 0%;
  }
  40% {
      transform: scale3d(1, 0.3, 1) translate3d(0, 25px, 0);
  }
  50% {
      transform: scale3d(0.5, 0.3, 1) translate3d(-100px, -80px, 0);
  }
  60% {
      transform: scale3d(1, 1.25, 1) translate3d(10px, -5px, 0);
  }
  70% {
      transform: scale3d(0.5, 0.5, 1) translate3d(0, 20px, 0);
  }
  80% {
      transform: translate3d(-30, 10px, 0) scale3d(1, 0.4, 1);
      transform-origin: 100% 0%;
  }
  90% {
      transform: scale3d(1, 0.5, 1) translate3d(0, -15px, 0);
      ;
      transform-origin: 0% 50%;
  }
  100% {
      opacity: 1;
  }
} */