:root {
  --white: #ffffff;
  --black: #0d0d0d;
  --lightblack: #262626;
  --primary: #5e34ff;
  --lightprimary: #734fff;
  --linkactive: #2a54e9;
  --grad: linear-gradient(124.25deg, #6e41e2 -20.46%, #e452fc 137.24%);
  --fadewhite: #fafafa;
  --textc: #8d96b2;
  --purplelight: #734fff;
}

html {
  scroll-behavior: smooth;
}
.body {
  font-family: "Manrope", sans-serif;
  font-family: "Poppins", sans-serif;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
* {
  padding: 0;
  margin: 0;
}
.container1 {
  max-width: 1700px;
  padding: 0 auto;
  margin: 0 auto;
}
.container2 {
  max-width: 1410px;
  padding: 0 auto;
  margin: 0 auto;
}
::selection {
  color: #ffffff;
  background-color: var(--linkactive);
}

/********************************************************************/
/* Home Page  */
/********************************************************************/

header nav {
  margin: 3vw auto;
}
header nav .navlinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

/* header nav .navlinks ul li {
  margin-right: 1.5rem;
} */
.navlinks a {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* padding-right: 1rem; */
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: var(--black);
}
.linkright{
  padding-right: 16px;
}

.navleft{
  display: flex;
  flex: 1 1 0px;
}
.navcenter{
  display: flex;
}
.navright{
  display: flex;
  flex: 1 1 0px;
  flex-direction: row-reverse;
}
/*<a> anims*/
.navlinks a::before {
  text-decoration: none;
  color: #2a54e9;
}
.navlinks a:hover {
  color: var(--linkactive);
}
.underline {
  position: relative;
}
.navlinks .current {
  color: #2a54e9;
}
.underline::before {
  content: "";
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  text-emphasis-color: var(--linkactive);
  background-color: var(--linkactive);
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}
/* Selects any <a> that is being activated */
.navlinks a:active {
  color: var(--linkactive);
}

.navcenter img {
  width: 4rem;
}
.hero {
  margin: 15rem 0 6rem;
  height: 40vh;
}

.hero .Maintext {
  margin-left: 0.7rem;
  z-index: -99999;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.salutation {
  font-size: 25px;
  line-height: 20px;
  color: var(--primary);
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.intro {
  font-size: 30px;
  line-height: 38px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}
.intro span {
  font-weight: 500;
}
/*Css for the I am designer text in hero section*/

.hero .designspan .middlemain h1 {
  z-index: 99999;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 182px;
  /* font-size: 11.375rem; */
  line-height: 10rem;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.9s
    both;
  /* Width and color values */
  -webkit-text-stroke: 1.5px var(--lightblack);
  -webkit-text-fill-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.2em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.hero .designspan .upperone h1 {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 102px;
  line-height: 102px;
  animation: slide-in-bitupper 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.6s
    both;
  /* Width and color values */
  -webkit-text-stroke: 1px var(--lightblack);
  -webkit-text-fill-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
@keyframes slide-in-bitupper {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    transform: translateY(-260px);
    opacity: 0.2;
  }
}
.hero .designspan .uppertwo h1 {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 102px;
  line-height: 102px;
  animation: slide-in-upper 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.2s both;
  /* Width and color values */
  -webkit-text-stroke: 1px var(--lightblack);
  -webkit-text-fill-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
@keyframes slide-in-upper {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    transform: translateY(-360px);
    opacity: 0.2;
  }
}

.hero .designspan .lowerone h1 {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 102px;
  line-height: 102px;
  animation: slide-in-bitbottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.6s
    both;
  /* Width and color values */
  -webkit-text-stroke: 1px var(--lightblack);
  -webkit-text-fill-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
@keyframes slide-in-bitbottom {
  0% {
    transform: translateY(-180px);
    opacity: 0;
  }
  100% {
    transform: translateY(-2px);
    opacity: 0.2;
  }
}

.hero .designspan .lowertwo h1 {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 102px;
  line-height: 102px;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.2s both;
  /* Width and color values */
  -webkit-text-stroke: 1px var(--lightblack);
  -webkit-text-fill-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(-300px);
    opacity: 0;
  }
  100% {
    transform: translateY(95px);
    opacity: 0.2;
  }
}
.divider {
  height: 0;
  border: 1px solid #eef2f4;
  width: 90vw;
  margin-left: calc(-45vw + 50%);
}
/* .casetitle  */
.casetitle {
  display: flex;
  align-items: center;
  font-size: 30px;
  margin-top: 2rem;
}

.sectionheading {
  font-weight: 500;
  font-family: "Manrope", sans-serif;
  font-size: 30px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.arrow {
  margin-left: 1rem;
  animation: bounce 0.8s 2.1 alternate;
  -webkit-animation: bounce 0.8s 2.1 alternate;
}
.arrow img {
  transform: translateY(5px);
}
.casestudy {
  display: grid;
  padding: 2rem;
  grid-gap: 1rem;
}
/* .casecontent{
  width: 320px;
} */
/* .casecontent img{
  width: 100%;
} */
.casestudy .sml {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  /* width: 320px; */
}
.caseimage {
  display: block;
  width: 100%;
  height: auto;
}
.casecontent {
  position: relative;
  /* width: 50%; */
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.8s ease;
  border-radius: 10px;
  /* background-color: #008cba; */
  backdrop-filter: blur(9px) saturate(157%);
  -webkit-backdrop-filter: blur(9px) saturate(157%);
}

.casecontent:hover .overlay {
  opacity: 1;
}
.text {
  color: var(--lightblack);
  font-family: "Manrope", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.text .headoverlay {
  font-weight: 600;
  font-size: 2.5rem;
}
.text .overlaycontent {
  font-size: 1rem;
}

/*******************************************************************/
/*About page*/
/*******************************************************************/

.aboutme {
  display: flex;
  justify-content: space-between;
  padding: 100px 97px 130px 97px;
}
.titleheading {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: var(--purplelight);
  opacity: 85%;
}
.aboutdescription {
  display: block;
}
.aboutdescription p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 28px;
  margin-top: 0.5rem;
  margin-bottom: 8px;
  color: var(--black);
}
.aboutdescription p .emoji {
  font-size: 23px;
  vertical-align: top;
}
.aboutdescription p a {
  filter: none;
  transition: color 300ms ease-out;
}
.aboutdescription p a:hover {
  filter: grayscale(100%);
}
.aboutdescription .aboutheading span {
  font-size: 40px;
}
.name {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.name a {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: var(--linkactive);
}
.aboutlinks ul {
  display: flex;
  list-style: none;
  margin-top: 0.2rem;
}
.aboutlinks ul li {
  margin-right: 0.4rem;
}
.aboutlinks a {
  color: black;
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
  transition: none;
  -webkit-transition: margin 0.3s ease-out;
  -moz-transition: margin 0.3s ease-out;
  -o-transition: margin 0.3s ease-out;
}
.aboutextra .aboutlinks img {
  width: 90%;
}
.aboutextra {
  margin-top: 41px;
}
.aboutextra a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: var(--linkactive);
}

.myimage img {
  /* position: absolute; */
  width: 355px;
  height: 473px;
  border-radius: 5px;
  background: rgba(180, 232, 255, 0.85);
  box-shadow: 0px -6px 16px rgba(155, 155, 155, 0.13),
    0px 4px 16px rgba(155, 155, 155, 0.13);
}
figcaption {
  font-family: Poppins;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.005em;
  color: var(--black);
  padding: 2px;
  text-align: center;
  opacity: 0.5;
}

/*******************************************************************/
/* The css of etc page */
/*******************************************************************/

.vtext {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.02em;
  margin-top: 100px;
  /* margin-left: 10px; */
  margin-bottom: 25px;
}
.vtext span {
  color: var(--linkactive);
}
.visuals {
  margin-bottom: 2rem;
}
.visual-grid {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  display: grid;
  grid-row-gap: 20px;
}
.visual-grid img {
  object-fit: none;
  border-radius: 10px;
}
.visual-grid .twold {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
}
.visual-grid .twold img {
  width: 694px;
  height: 424px;
}
.visual-grid .fullwall {
  grid-template-columns: auto;
}
.visual-grid .fullwall img {
  width: 1412px;
  height: 794px;
}
.visual-grid .mdimage {
  width: 1412px;
  height: 461px;
}
.visual-grid .oneldtwosm {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 18px;
}
.visual-grid .oneldtwosm .ldimgs {
  width: 694px;
  height: 424px;
}
.visual-grid .oneldtwosm .smimage {
  width: 342px;
  height: 424px;
}
.visual-grid .twosmoneld {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 18px;
}
.visual-grid .twosmoneld .ldimgs {
  width: 694px;
  height: 424px;
}
.visual-grid .twosmoneld .smimage {
  width: 342px;
  height: 424px;
}

.work-title {
  padding: 100px 97px 10px 97px;
}
.work-title p {
  font-family: Poppins;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 0.5rem;
  letter-spacing: 0.02em;
}
.work {
  display: flex;
  align-items: center;
  padding: 0px 97px 130px 97px;
}

.worktext {
  display: block;
  font-family: Manrope;
  margin-left: 4rem;
  width: 30%;
  transform: translateY(-45%);
}

.workimg img {
  width: 695px;
  height: 424px;
  border-radius: 10px;
  object-fit: cover;
}

.work-heading {
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 0.02em;
  color: #ff557c;
  opacity: 0.8;
}
.work-subheading {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--textc);
  opacity: 0.5;
}
.work-description {
  margin-top: 0.513rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: var(--textc);
}

/********************************************************************/
/* Footer  */
/********************************************************************/
/* .footer{
  position: absolute;
    bottom: 0;
  } */
.footer .divider {
  margin: 1.5rem;
}
.footer .socialinks {
  margin: 1rem 0;
}
.socialinks ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  /* font-size: 2rem; */
}

.socialinks a {
  color: black;
  padding: 10px 20px;
  display: inline-block;
  transition: none;
  -webkit-transition: margin 0.3s ease-out;
  -moz-transition: margin 0.3s ease-out;
  -o-transition: margin 0.3s ease-out;
}

.aboutfooter {
  font-family: "Poppins", sans-serif;
  left: 0;
  bottom: 0;
  background-color: #fafafa;
  padding: 0 74px;
}
.footerrow {
  display: flex;
  flex-wrap: wrap;
  padding: 107px 0;
}
.aboutfooter ul {
  list-style: none;
}
.footercol {
  width: 25%;
  margin-top: 2rem;
}
.footercol .colhead {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 22px;

  color: var(--textc);
}
.footercol ul li {
  font-size: 14px;
  text-transform: capitalize;
  display: block;
  margin-bottom: 18px;
}

.footercol ul li a {
  font-size: 14px;
  color: var(--linkactive);
  text-transform: capitalize;
  text-decoration: none;
  display: block;
  margin-bottom: 18px;
  transition: all 0.3s ease;
}

.footercol ul li a:hover {
  color: var(--linkactive);
  padding-left: 8px;
}
.aboutfooter .copyryt {
  padding: 19px 0;
}
.copyryt {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.copyryt .cright {
  font-size: 12px;
  font-weight: 300;
  color: var(--textc);
  padding-right: 97px;
}
.copyryt .cright a {
  text-decoration: none;
}
.copyryt .cright a:visited {
  color: var(--linkactive);
}
.copyryt .copryttxt1 {
  font-size: 12px;
  font-weight: 300;
  color: var(--black);
}
.copyryt .copyryttxt2 {
  font-size: 12px;
  font-weight: 300;
  color: var(--textc);
}

/********************************************************************
This is the fith new freaking mobilenavbar
********************************************************************/
.mobilenav {
  background: var(--white);
  top: 0%;
  left: 0%;
  /* text-align: center; */
  position: fixed;
  z-index: 99999999;
  width: 100%;
  transition: top 0.5s;
}
.logoimg {
  width: 64px;
  left: 0%;
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 10px;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(rgb(0, 0, 0), 0.75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0.5rem;
  margin-right: 1.5rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: rgb(7, 7, 7);
  height: 2.5px;
  width: 1.5em;
  border-radius: 5px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

.mobnav {
  position: absolute;
  text-align: right;
  top: 100%;
  padding-top: 1rem;
  padding-right: 1rem;
  background: var(--fadewhite);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

.mobnav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobnav li {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1rem;
}

.mobnav a {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: rgb(8, 8, 8);
  text-decoration: none;
  transition: opacity 150ms ease-in-out;
}

.mobnav a:hover {
  color: rgb(2, 2, 2);
}

.nav-toggle:checked ~ .mobnav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ .mobnav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }
  .mobilenav {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  /* .logo {
    grid-column: 2 / 3;
  } */

  .mobnav {
    /* all: unset; this causes issues with Edge, since it's unsupported */

    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;

    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .mobnav ul {
    display: flex;
  }

  .mobnav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  .mobnav a {
    opacity: 1;
    position: relative;
  }

  .mobnav a::before {
    content: "";
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  .mobnav a:hover::before {
    transform: scale(1, 1);
  }
}

/*******************************************************************/
/* Started with the media query */
/*******************************************************************/

@media screen and (min-width: 320px) and (max-width: 480px) {
  .site-wrapper {
    max-width: 320px;
    padding: 0 auto;
    margin: 0 auto;
  }
  .container2 {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .container1 {
    display: none;
  }
  .hero {
    text-align: center;
    margin: 11rem 0 7.5rem;
  }
  .salutation {
    font-size: 20px;
  }
  .intro {
    font-size: 25px;
  }
  .hero .designspan .middlemain h1 {
    font-weight: bold;
    font-size: 58px;
    line-height: 65px;
    text-align: center;
    margin-bottom: 1rem;
  }
  .hero .designspan .upperone h1 {
    position: relative;
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 0.3rem;
    letter-spacing: 0.02em;
    -webkit-text-stroke: 0.5px var(--lightblack);
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.9s
      both;
  }
  .hero .designspan .uppertwo h1 {
    position: relative;
    font-size: 28px;
    line-height: 30px;
    -webkit-text-stroke: 0.5px var(--lightblack);
    margin-bottom: 0.3rem;

    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.9s
      both;
  }
  .hero .designspan .lowerone h1 {
    position: relative;
    font-size: 28px;
    line-height: 30px;
    -webkit-text-stroke: 0.5px var(--lightblack);
    margin-bottom: 0.3rem;

    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.9s
      both;
  }
  .hero .designspan .lowertwo h1 {
    position: relative;
    font-size: 28px;
    line-height: 30px;
    -webkit-text-stroke: 0.5px var(--lightblack);
    margin-bottom: 0.3rem;

    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.9s
      both;
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  .casetitle {
    justify-content: center;
    grid-area: 10px;
    margin-top: 1rem;
  }
  .sectionheading {
    font-size: 20px;
  }
  .arrow img {
    width: 80%;
    transform: translateY(0px);
  }
  .casestudy {
    width: auto;
    display: block;
    /* margin-top: 1rem; */
    grid-auto-rows: 300px;
  }
  .csoverlay {
    width: auto;
    opacity: 1;
  }
  .case1 {
    width: 100%;
    height: 550px;
  }
  .casestudy .sml {
    display: block;
  }
  #image1 {
    background: #ff557c;
    height: 18rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
  }
  #image2 {
    background: #b4e8ffd9;
    height: 18rem;
    border-radius: 10px;
    margin-bottom: 2rem;
  }
  #image3 {
    background: #cbbff9d9;
    height: 18rem;
    border-radius: 10px;
    margin-bottom: 2rem;
  }
  /* .case1 img,
  .case2 img,
  .case3 img {
    border-radius: 10px;
    width: 80%;
    height: 80%;
    object-fit: cover;
  } */
  .casecontent .caseimage {
    border-radius: 10px;
    /* width: 50%; */
    height: 50%;
    object-fit: cover;
  }
  .casecontent .caseimage img {
    border: transparent;
  }
  .case1 img,
  .case2 img,
  .case3 img:hover {
    opacity: 1;
  }
  .casecontent {
    width: 100%;
    /* height: 550px; */
  }
  /* .case2 {
    width: 100%;
    height: 550px;
  }
  .case3 {
    width: 100%;
    height: 550px;
  } */
  .overlay {
    display: none;
  }
  /* .visuals{
    width: 320px;
  } */
  .vtext {
    font-size: 10px;
    line-height: 15px;
    margin-left: 5px;
    margin-top: 10rem;
    margin-bottom: 10px;
  }
  .visual-grid {
    margin-left: 5px;
    grid-gap: 0px;
  }
  .visual-grid .twold {
    display: flex;
    grid-column-gap: 5px;
    height: 110px;
    /* padding: 2rem; */
  }
  .visual-grid .twold img {
    width: 150px;
    height: 110px;
    object-fit: contain;
  }
  .visual-grid .fullwall img {
    width: 310px;
    height: 175px;
    object-fit: contain;
  }
  .visual-grid .mdimage {
    width: 310px;
    height: 140px;
    object-fit: cover;
  }
  .visual-grid .oneldtwosm {
    display: flex;
    gap: 5px;
  }
  .visual-grid .oneldtwosm .ldimgs {
    width: 105px;
    height: 175px;
    object-fit: cover;
  }
  .visual-grid .oneldtwosm .smimage {
    width: 95px;
    height: 175px;
    object-fit: cover;
  }
  .visual-grid .twosmoneld {
    display: flex;
    gap: 5px;
  }
  .visual-grid .twosmoneld .ldimgs {
    width: 105px;
    height: 175px;
    object-fit: cover;
  }
  .visual-grid .twosmoneld .smimage {
    width: 95px;
    height: 175px;
    object-fit: cover;
    /* border-radius: 10px; */
  }
  .work-title {
    padding: 0;
    margin-top: 10rem;
  }
  .work-title .titleheading {
    font-size: 16px;
  }
  .work-title p {
    font-size: 12px;
    margin-bottom: 0.2rem;
  }
  .work {
    display: block;
    padding: 0;
    margin: 1rem auto 3rem;
  }
  .work .workimg img {
    width: 100%;
  }
  .worktext {
    width: 100%;
    transform: translateX(2px);
    margin: 0.5rem 0.2rem;
  }
  .work-heading {
    font-size: 18px;
  }
  .work-subheading {
    font-size: 12px;
  }
  .work-description {
    font-size: 12px;
    line-height: 18px;
    margin-top: 0.3rem;
  }
  /*Media property for footer in home page for small phones*/
  /***********/
  .footer {
    width: 100%;
  }
  .socialinks a {
    padding: 0px 12px;
  }
  .socialinks img {
    width: 90%;
  }
  .aboutme {
    display: block;
    padding: 5px;
    margin: 7rem 0 2rem;
  }
  .aboutme .aboutdescription br {
    display: none;
  }
  .aboutlinks ul {
    justify-content: center;
  }
  .aboutdescription {
    width: 100%;
    margin-top: 4rem;
  }
  .aboutlinks a {
    margin-left: 10px;
  }
  .aboutlinks ul li {
    margin-right: 0;
  }
  .aboutdescription p {
    font-size: 0.85rem;
    line-height: 1.45rem;
  }
  .aboutme .myimage img {
    width: 100%;
    left: 0%;
    margin-top: 1rem;
    object-fit: cover;
  }
  .aboutfooter {
    padding: 20px;
  }
  .footerrow {
    display: flex;
    flex-direction: column;
    padding: 0%;
  }
  .footerrow ul {
    width: 100%;
  }
  .footerrow li {
    padding: 0%;
  }
  .footercol {
    width: 100%;
  }
  .copyryt {
    display: block;
  }
  .copyryt .cleft {
    padding-bottom: 40px;
  }
}

@media screen and (max-device-width: 765px) and (orientation: landscape) {
  .site-wrapper {
    max-width: 480px;
    padding: 0 auto;
    margin: 0 auto;
  }
  .container2 {
    /* max-width: 480px; */
    width: 100%;
  }
  .hero {
    text-align: center;
    margin: 7.5rem 0 7.5rem;
  }
  .salutation {
    font-size: 20px;
  }
  .intro {
    font-size: 25px;
  }
  .hero .designspan .middlemain h1 {
    font-weight: bold;
    font-size: 60px;
    line-height: 65px;
    text-align: center;
    margin-bottom: 1rem;
  }
  .hero .designspan .upperone h1 {
    position: relative;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 0.3rem;
    letter-spacing: 0.02em;
    -webkit-text-stroke: 0.5px var(--lightblack);
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.9s
      both;
  }
  .hero .designspan .uppertwo h1 {
    position: relative;
    font-size: 30px;
    line-height: 30px;
    -webkit-text-stroke: 0.5px var(--lightblack);
    margin-bottom: 0.3rem;

    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.9s
      both;
  }
  .hero .designspan .lowerone h1 {
    position: relative;
    font-size: 30px;
    line-height: 30px;
    -webkit-text-stroke: 0.5px var(--lightblack);
    margin-bottom: 0.3rem;

    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.9s
      both;
  }
  .hero .designspan .lowertwo h1 {
    position: relative;
    font-size: 30px;
    line-height: 30px;
    -webkit-text-stroke: 0.5px var(--lightblack);
    margin-bottom: 0.3rem;

    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.9s
      both;
  }
  .casetitle {
    justify-content: center;
  }
  .sectionheading {
    font-size: 20px;
  }
  .arrow img {
    width: 80%;
    transform: translateY(0px);
  }
  .casestudy {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 1rem;
  }
  .csoverlay {
    width: auto;
    opacity: 1;
  }
  .case1 {
    width: 100%;
    height: 550px;
  }
  .case1 img,
  .case2 img,
  .case3 img {
    border-radius: 10px;
    width: 80%;
    height: 80%;
    object-fit: cover;
  }
  .case2 {
    width: 100%;
    height: 550px;
  }
  .case3 {
    width: 100%;
    height: 550px;
  }
  .csoverlay {
    display: none;
  }

  .work {
    width: 100%;
  }
  .workimg img {
    width: 100%;
  }
}

@media screen and (min-device-width: 765px) and (max-device-width: 1024px) {
  .site-wrapper {
    width: 100%;
    padding: 0 auto;
    margin: 0 auto;
  }
  .container2 {
    width: 99%;
  }
  .hero {
    text-align: center;
    margin: 7rem 0 7rem;
  }
  .salutation {
    font-size: 20px;
  }
  .intro {
    font-size: 25px;
  }
  .navlinks {
    margin: 0 2rem;
  }
  .hero .designspan .middlemain h1 {
    font-weight: bold;
    font-size: 60px;
    line-height: 65px;
    text-align: center;
    margin-bottom: 1rem;
  }
  .hero .designspan .upperone h1 {
    position: relative;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 0.3rem;
    letter-spacing: 0.02em;
    -webkit-text-stroke: 0.5px var(--lightblack);
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.9s
      both;
  }
  .hero .designspan .uppertwo h1 {
    position: relative;
    font-size: 30px;
    line-height: 30px;
    -webkit-text-stroke: 0.5px var(--lightblack);
    margin-bottom: 0.3rem;

    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.9s
      both;
  }
  .hero .designspan .lowerone h1 {
    position: relative;
    font-size: 30px;
    line-height: 30px;
    -webkit-text-stroke: 0.5px var(--lightblack);
    margin-bottom: 0.3rem;

    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.9s
      both;
  }
  .hero .designspan .lowertwo h1 {
    position: relative;
    font-size: 30px;
    line-height: 30px;
    -webkit-text-stroke: 0.5px var(--lightblack);
    margin-bottom: 0.3rem;

    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.9s
      both;
  }
  .casetitle {
    justify-content: center;
  }
  .sectionheading {
    font-size: 25px;
  }
  .arrow img {
    width: 80%;
    transform: translateY(0px);
  }
  .casestudy {
    width: 100%;
    padding: 0%;
    margin-top: 0;
  }
  .csoverlay {
    width: auto;
    opacity: 1;
  }
  .case1 {
    width: 100%;
    height: 550px;
  }
  .caseimage {
    width: 100%;
    border: transparent;
  }
  #image1 {
    background: #ff557c;
    width: 100%;
    /* height: 18rem; */
    border-radius: 10px;
    /* margin-bottom: 2rem; */
    display: flex;
    border: none;
    align-items: center;
    object-fit: cover;
  }
  .casestudy .sml {
    margin-bottom: 1rem;
  }
  .csoverlay {
    display: none;
  }

  .aboutme {
    display: flex;
    padding: 25px;
    /* margin: 5rem 0 2rem; */
  }
  .aboutdescription {
    width: 100%;
    margin-top: 4rem;
  }
  .aboutdescription p {
    font-size: 0.85rem;
    line-height: 1.45rem;
  }
  .aboutme .myimage img {
    width: 100%;
    left: 0%;
    margin-top: 1rem;
    object-fit: cover;
  }
  .aboutfooter {
    padding: 10px;
  }
  .footerrow {
    display: flex;
    flex-wrap: nowrap;
    padding: 80px 0;
    margin: 0 2rem;
  }
  .footerrow ul {
    width: 100%;
  }
  .footerrow li {
    padding: 0%;
  }
  .footercol {
    width: 100%;
  }
  .copyryt {
    display: block;
  }
  .copyryt .cleft {
    padding-bottom: 40px;
    margin: 0 2rem;
  }
  .cright {
    margin: 0 2rem;
  }
  .vtext {
    font-size: 17px;
    margin: 40px 0 20px 16px;
  }
  .visual-grid {
    margin-left: 5px;
    grid-gap: 5px;
  }
  .visual-grid .twold {
    display: flex;
    grid-column-gap: 5px;
    height: 100%;
  }
  .visual-grid .twold img {
    width: 50%;
    height: 100%;
    object-fit: contain;
  }
  .visual-grid .fullwall img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* margin-top: 1rem; */
  }
  .visual-grid .mdimage {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .visual-grid .oneldtwosm {
    display: flex;
    gap: 1px;
  }
  .visual-grid .oneldtwosm .ldimgs {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
  .visual-grid .oneldtwosm .smimage {
    width: 25%;
    height: 100%;
    object-fit: contain;
  }
  .visual-grid .twosmoneld {
    display: flex;
    gap: 2px;
  }
  .visual-grid .twosmoneld .ldimgs {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
  .visual-grid .twosmoneld .smimage {
    width: 25%;
    height: 100%;
    object-fit: contain;
  }
  .work {
    width: 100%;
    display: block;
    padding: 0;
    margin: 1rem auto;
  }
  .work-title {
    padding: 0%;
    margin-top: 5rem;
  }
  .workimg img {
    width: 100%;
    height: 50%;
  }
  .worktext {
    width: 100%;
    transform: translateX(2px);
    margin: 0.5rem 0.2rem;
  }
}

@media screen and (min-width: 801px) and (max-width: 1024px) {
  .nav-toggle-label {
    display: block;
  }
  .mobilenav {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .mobilenav {
    display: none;
  }
  nav {
    display: block;
  }
}
