:root {
  --white: #ffffff;
  --black: #0d0d0d;
  --lightblack: #262626;
  --primary: #5e34ff;
  --lightprimary: #734fff;
  --linkactive: #2a54e9;
  --grad: linear-gradient(124.25deg, #6e41e2 -20.46%, #e452fc 137.24%);
  --fadewhite: #fafafa;
  --textc: #8d96b2;
  --purplelight: #734fff;
}

html {
  scroll-behavior: smooth;
}
.body {
  font-family: "Manrope", sans-serif;
  font-family: "Poppins", sans-serif;
}
* {
  padding: 0;
  margin: 0;
}
.container1 {
  max-width: 1700px;
  padding: 0 auto;
  margin: 0 auto;
}
.container2 {
  max-width: 1400px;
  padding: 0 auto;
  margin: 0 auto;
}
::selection {
  color: #ffffff;
  background-color: var(--linkactive);
}

/********************************************************************/
/* Home Page  */
/********************************************************************/

header nav {
  margin: 3vw auto;
}
header nav .navlinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.navlinks a {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* padding-right: 1rem; */
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: var(--black);
}
.linkright {
  margin-right: 25px;
}

.navleft {
  display: flex;
  flex: 1 1 0px;
}
.navcenter {
  display: flex;
}
.navright {
  display: flex;
  flex: 1 1 0px;
  flex-direction: row-reverse;
}
.navlinks a:hover {
  color: var(--linkactive);
}
.underline {
  position: relative;
}
.navlinks .current {
  font-weight: 500;
  text-transform: capitalize;
  color: #2a54e9;
}
.navlinks .opac{
  opacity: 0.5;
}
.underline::before {
  content: "";
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  text-emphasis-color: var(--linkactive);
  background-color: var(--linkactive);
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}
/* Selects any <a> that is being activated */
.navlinks a:active {
  color: var(--linkactive);
}

.navcenter img {
  width: 4rem;
}
.hero {
  margin: 15rem 0 6rem;
  height: 40vh;
}

.hero .Maintext {
  margin-left: 0.7rem;
  z-index: -99999;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.salutation {
  font-size: 25px;
  line-height: 20px;
  color: var(--primary);
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.intro {
  font-size: 30px;
  line-height: 38px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}
.intro span {
  font-weight: 500;
}
/*Css for the I am designer text in hero section*/

.hero .designspan .middlemain h1 {
  z-index: 99999;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 182px;
  line-height: 10rem;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.9s
    both;
  /* Width and color values */
  -webkit-text-stroke: 2px var(--lightblack);
  -webkit-text-fill-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.2em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.hero .designspan .upperone h1 {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 110px;
  line-height: 102px;
  animation: slide-in-bitupper 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.6s
    both;
  /* Width and color values */
  -webkit-text-stroke: 0.9px var(--lightblack);
  -webkit-text-fill-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
@keyframes slide-in-bitupper {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    transform: translateY(-260px);
    opacity: 0.2;
  }
}
.hero .designspan .uppertwo h1 {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 110px;
  line-height: 102px;
  animation: slide-in-upper 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.2s both;
  /* Width and color values */
  -webkit-text-stroke: 0.9px var(--lightblack);
  -webkit-text-fill-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
@keyframes slide-in-upper {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    transform: translateY(-360px);
    opacity: 0.2;
  }
}

.hero .designspan .lowerone h1 {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 110px;
  line-height: 102px;
  animation: slide-in-bitbottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.6s
    both;
  /* Width and color values */
  -webkit-text-stroke: 0.9px var(--lightblack);
  -webkit-text-fill-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
@keyframes slide-in-bitbottom {
  0% {
    transform: translateY(-180px);
    opacity: 0;
  }
  100% {
    transform: translateY(-2px);
    opacity: 0.2;
  }
}

.hero .designspan .lowertwo h1 {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 110px;
  line-height: 102px;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.2s both;
  /* Width and color values */
  -webkit-text-stroke: 1px var(--lightblack);
  -webkit-text-fill-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(-300px);
    opacity: 0;
  }
  100% {
    transform: translateY(97px);
    opacity: 0.2;
  }
}
.divider {
  height: 0;
  border: 1px solid #eef2f4;
  width: 90vw;
  margin-top: 1rem;
  margin-left: calc(-45vw + 50%);
}
.casetitle {
  display: flex;
  align-items: center;
  font-size: 30px;
  margin: 2rem 0;
}

.sectionheading {
  font-weight: 500;
  font-family: "Manrope", sans-serif;
  font-size: 30px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.arrow {
  margin-left: 1rem;
  animation: bounce 0.8s 2.1 alternate;
  -webkit-animation: bounce 0.8s 2.1 alternate;
}
.arrow img {
  transform: translateY(5px);
}
.casestudy {
  display: grid;
  grid-gap: 1rem;
  margin: 2rem 0;
}

.casestudy .sml {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.caseimage {
  display: block;
  width: 100%;
  height: auto;
}
.casecontent {
  position: relative;
  transition: 0.5s ease;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  border-radius: 10px;
  backdrop-filter: blur(2px) saturate(100%);
  -webkit-backdrop-filter: blur(2px) saturate(100%);
}

.casecontent:hover .overlay {
  opacity: 1;
  box-shadow: var(--lightprimary);
}
.casecontent:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  z-index: 99;
}
.text {
  color: var(--lightblack);
  font-family: "Manrope", sans-serif;
  position: absolute;
  font-size: 1.2rem;
  font-weight: 500;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*******************************************************************/
/*About page*/
/*******************************************************************/

.aboutme {
  display: flex;
  justify-content: space-between;
  padding: 100px 97px 130px 97px;
}
.titleheading {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: rgba(115, 79, 255, 0.85);
}
.aboutdescription {
  display: block;
}
.aboutdescription p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 28px;
  margin-top: 0.5rem;
  margin-bottom: 8px;
  color: var(--black);
}
.aboutdescription p .emoji {
  font-size: 23px;
  vertical-align: top;
}
.aboutdescription p a {
  filter: none;
  transition: filter 300ms ease-out;
}
.aboutdescription p a:hover {
  filter: grayscale(100%);
}
.aboutdescription .aboutheading span {
  font-size: 40px;
}
.name {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.name a {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: var(--linkactive);
}
.aboutlinks ul {
  display: flex;
  list-style: none;
  margin-top: 0.2rem;
}
.aboutlinks ul li {
  margin-right: 0.4rem;
}
.aboutlinks svg{
  margin-top: 10px;
  margin-right: 10px;
  transition: transform .3s ease-in-out;

}
.aboutlinks svg:hover path{
  fill:var(--primary);
}
.aboutlinks svg:hover{
  transform: scale(1.2);
}
.aboutextra {
  margin-top: 41px;
}
.aboutextra .emaillink{
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: var(--linkactive);
}

.myimage img {
  width: 355px;
  height: 473px;
  border-radius: 5px;
  background: rgba(180, 232, 255, 0.85);
  box-shadow: 0px -6px 16px rgba(155, 155, 155, 0.13),
    0px 4px 16px rgba(155, 155, 155, 0.13);
}
figcaption {
  font-family: Poppins;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.005em;
  color: var(--black);
  padding: 2px;
  text-align: center;
  opacity: 0.7;
}

/*******************************************************************/
/* The css of etc page */
/*******************************************************************/

.vtext {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.02em;
  margin-top: 138px;
  margin-bottom: 25px;
}
.vtext span {
  color: var(--linkactive);
}
.visuals {
  margin-bottom: 2rem;
}
.visual-grid {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  display: grid;
  grid-row-gap: 20px;
}
.visual-grid img {
  object-fit: none;
  border-radius: 10px;
}
.visual-grid .twold {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
}
.visual-grid .twold img {
  width: 694px;
  height: 424px;
}
.visual-grid .fullwall {
  grid-template-columns: auto;
}
.visual-grid .fullwall img {
  width: 1412px;
  height: 794px;
}
.visual-grid .mdimage {
  width: 1412px;
  height: 461px;
}
.visual-grid .oneldtwosm {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 18px;
}
.visual-grid .oneldtwosm .ldimgs {
  width: 694px;
  height: 424px;
}
.visual-grid .oneldtwosm .smimage {
  width: 342px;
  height: 424px;
}
.visual-grid .twosmoneld {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 18px;
}
.visual-grid .twosmoneld .ldimgs {
  width: 694px;
  height: 424px;
}
.visual-grid .twosmoneld .smimage {
  width: 342px;
  height: 424px;
}

/**********************************************************************
*****************************Work page********************************/

.work-title {
  padding: 107px 97px 51px 100px;
}
.work-title p {
  font-family: Poppins;
  font-weight: 300;
  font-size: 16px;
  line-height: 12px;
  margin-bottom: 0.5rem;
  letter-spacing: 0.02em;
}
.work {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 4rem;
  transition: transform 0.3s ease-in-out;
}

.worktext {
  display: block;
  font-family: Manrope;
  width: 30%;
}

.workimg img {
  width: 695px;
  height: 424px;
  border-radius: 10px;
  object-fit: cover;
}
.work:hover{
  transform: scale(1.05);
}

.work-heading {
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 0.02em;
  color: #ff557c;
  opacity: 0.8;
}
.work-subheading {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--textc);
  opacity: 0.5;
}
.work-description {
  margin-top: 0.513rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: var(--textc);
}

/********************************************************************/
/* Footer  */
/********************************************************************/

.footer .socialinks {
  margin: 1rem 0;
}
.socialinks ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.socialinks svg {
  padding: 0px 15px;
  display: inline-block;
  transition: transform .3s ease-in-out;
}
.socialinks svg:hover path{
  fill:var(--linkactive);
}
.socialinks svg:hover{
  transform: scale(1.2);
}

/************************about footer******************************/

.aboutfooter {
  font-family: "Poppins", sans-serif;
  left: 0;
  bottom: 0;
  background-color: #fafafa;
  padding: 0 74px;
}
.footerrow {
  display: flex;
  flex-wrap: wrap;
  padding: 107px 0;
}
.aboutfooter ul {
  list-style: none;
}
.footercol {
  width: 25%;
  margin-top: 2rem;
}
.footercol .colhead {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 22px;
  color: var(--textc);
}
.footercol ul li {
  font-size: 14px;
  text-transform: capitalize;
  display: block;
  margin-bottom: 18px;
}

.footercol ul li a {
  font-size: 14px;
  color: var(--linkactive);
  text-transform: capitalize;
  text-decoration: none;
  display: block;
  margin-bottom: 18px;
  transition: all 0.3s ease;
}

.footercol ul li a:hover {
  color: var(--linkactive);
  padding-left: 8px;
}
.aboutfooter .copyryt {
  padding: 19px 0;
}
.copyryt {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.copyryt .cright {
  font-size: 12px;
  font-weight: 300;
  color: var(--textc);
  padding-right: 97px;
}
.copyryt .cright a {
  text-decoration: none;
}
.copyryt .cright a:visited {
  color: var(--linkactive);
}
.copyryt .copryttxt1 {
  font-size: 12px;
  font-weight: 300;
  color: var(--black);
}
.copyryt .copyryttxt2 {
  font-size: 12px;
  font-weight: 300;
  color: var(--textc);
}

/********************************************************************
This is the fith new freaking mobilenavbar
********************************************************************/

#mobilenav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white);
  top: 0%;
  left: 0%;
  width: 100%;
  position: fixed;
  z-index: 99999999;
}
.logoimg {
  width: 60px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  left: 2%;
}
#toggle {
  position: absolute;
  background: #ffffff;
  right: 0;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#toggle span {
  display: block;
  background: rgb(7, 7, 7);
  height: 2px;
  width: 1.5em;
  border-radius: 5px;
  transform: translateY(0px);
}
#toggle::before {
  display: block;
  background: rgb(7, 7, 7);
  height: 2px;
  width: 1.5em;
  border-radius: 5px;
  transform: translateY(-5px);
}
#toggle::after {
  display: block;
  background: rgb(7, 7, 7);
  height: 2px;
  width: 1.5em;
  border-radius: 5px;
  transform: translateY(5px);
}
#toggle::before,
#toggle::after {
  transition: 0.2s;
  content: "";
  position: absolute;
}
#toggle.active::before {
  transform: translateY(0) rotate(45deg);
}
#toggle.active::after {
  transform: translateY(0) rotate(-45deg);
}
#toggle.active span {
  display: none;
}

#navbar {
  position: absolute;
  font-family: "Manrope", sans-serif;
  text-align: right;
  top: 100%;
  padding-top: 1rem;
  background: var(--fadewhite);
  width: 0%;
  overflow: hidden;
  transform: scale(0, 0);
  transform-origin: top;
  transition-property: all;
  transition-duration: 500ms;
}
#navbar.active {
  transform: scale(1, 1);
  width: 100%;
}
#navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#navbar li {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1rem;
}

#navbar a {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: rgb(8, 8, 8);
  text-decoration: none;
  transition: opacity 150ms ease-in-out;
}
#mobilenav {
  display: none;
}


/********************************************************
CaseStudy
********************************************************/

.casestudypage {
  background: #ff557c;
}
.navlinks .myR{
  color: var(--white);
}
.main-case-section {
  margin:auto;
  width: 90vw;
  background-color: var(--white);
  font-family: "Manrope", sans-serif;
  z-index: 2;
  border-radius: 21px;
}

.casestudytitle {
  z-index: 99;
  font-family: Poppins;
  font-size: 34px;
  letter-spacing: 0.02em;
  line-height: 51px;
  font-weight: 600;
  padding-top: 3.5rem;
  color: #ff557c;
  text-align: center;
}
.titlerow {
  display: flex;
  justify-content: center;
}
.titlecol {
  padding: 1.9rem;
}
.titlecol h4 {
  font-style: normal;
  color: var(--lightblack);
  opacity: 0.75;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  z-index: 2;
  text-align: center;
}
.titlecol p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  z-index: 2;
  color: #8D96B2;
opacity: 0.75;
}
.bannerimage {
  width: 80.313vw;
  margin: auto;
  z-index: 2;
}
.bannerimage img {
  width: 100%;
  height: 100%;
  z-index: 2;
}
.content {
  display: block;
  position: relative;
  width: 50vw;
  margin: auto;
  z-index: 2;
}
.inContent {
  padding: 3rem;
  max-width: 720px;
  margin: auto;
}
.context {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #8D96B2;

  opacity: 0.8;
  z-index: 2;
}
.chead {
  color: #262626;
  opacity: 0.85;
  margin-bottom: 0.5rem;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.qtime {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  z-index: 2;
  color: #262626;
  opacity: 0.9;
}
.qtime span {
  color: #FF557C;
  opacity: 0.9;
}
.contentimage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding: 3rem;
  z-index: 2;
}
.analysis{
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}
.analysis img {
  display: flex;
  margin: auto;
  z-index: 2;
}
.anhead {
  font-family: Manrope;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #262626;
  opacity: 0.85;
  z-index: 2;
  width: 50rem;
}
.ddesign {
  display: flex;
  justify-content: center;
}
.midpart {
  background-image: url("../images/CaseStudy/C1/Wireframebase.svg");
  background-repeat: space;
  margin-bottom: 4rem;
}
.midcontent{
  padding-top: 4rem;
}
.apple{
  display: flex;
  margin: auto;
}
.imgdiv{
  width: 40%;
  transform: translate(120%,-40%);
  margin-bottom: 151.5px;
}
.imgdiv .class1{
  transform: translateY(50%);
  margin-right: 108px;
}
.applelist{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.applelist p{
  margin-right: 121px;
}
.midhead {
  font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 55px;
  color: #6d7386;
}
.midcontext {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #8d96b2;
  opacity: 0.65;
}
.midhalf{
  display: flex;
}
.midimage1{
  margin: 2rem auto;
}
.midhalftwo{
  display: flex;
  justify-content: center;
  margin: 4rem auto;
}
.midhalftwo img{
  padding-bottom: 4rem;
}
.quote {
  padding-top: 1rem;
  font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
letter-spacing: 0.02em;
color: #8D96B2;
opacity: 0.3;
}
.centerquote{
  padding: 1rem;
  font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
text-align: center;
letter-spacing: 0.02em;
color: #2D59F0;
opacity: 0.3;
}
.alink {
  text-align: center;
  padding: 1rem;
}
.alink a {
  text-decoration: none;
  font-family: Manrope;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: var(--linkactive);
}
.wave{
  text-align: center;
  font-size: 40px;
}
.others{
  display: flex;
  margin: auto;
  justify-content: center;
  height: 336px;
  padding: 5rem;
  gap: 90px;
}
.main-case-section .footer .socialinks{
  padding-bottom: 2rem;
}
/****************** 404 page********************/
.notfoundarea{
 
  width: 100%;
  height: 75vh;
  margin-bottom: 2.083vw;
  border-radius: 1.042vw;
  background-color: var(--purplelight);
  align-items: center;
  text-align: center;
  
}
.notfoundarea h1{
  padding: 3rem 0 1rem 0;
  font-size: 10vw;
  font-family: Manrope;
  color: var(--white);
}
.notfoundarea h2{
  font-size: 2.083vw;
  font-weight: 800;
  font-family: Poppins;
  letter-spacing: 0.026vw;
  -webkit-text-stroke: 0.026vw var(--white);
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0.833vw;
}
.notfoundarea .notfounddescr{
  padding:1.667vw 0;
}
.notfoundarea .notfounddescr p{
  font-size: 0.8vw;
  font-family: Manrope;
  color: var(--white);
  line-height: 1.302vw;
}
.notfoundarea button{
  border: none;
  background-color: var(--lightblack);
  opacity: 0.9;
  color: var(--white);
  font-family: Manrope;
  padding: 0.781vw 1.667vw;
  text-align: center;
  text-decoration: none;
  border-radius: 0.521vw;
  display: inline-block;
  font-size: 0.833vw;
  margin: 0.208vw 0.104vw;
  cursor: pointer;
  transition: transform 0.3s ease;
} 
 .notfoundarea button:hover{
  transform: scale(1.1);
} 
.notfoundarea button a{
  text-decoration: none;
  color: var(--white);
}
